.newContactBtn {
    display: block;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    align-self: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    border-radius: 4px;
    color: rgb(254, 255, 255); 
    border: none;
    padding:6px 10px;
    height: 40px;
    width: 35%;
    background-color: rgba(233, 185, 27, 0.712);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.274);
    cursor: pointer;
    margin-bottom: 25px;
}



.newContactBtn:hover {
    background-color:  rgba(187, 152, 37, 0.877);
}