.container {
    width: 375px;
    min-height: 250px;
    border-radius: 4px;
    background-color:  rgba(184, 196, 202, 0.377);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.425), 0px 1px 3px rgba(0, 0, 0, 0.322), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform var(--transition-dur-and-func);
    padding: 18px 20px 24px 20px;
    margin: 50px auto;
}