.span {
    color: rgba(250, 198, 26, 0.842);
    
}

.contacts {
text-decoration: none;
align-items: center;
font-size: 24px;
font-weight: 600;
color: rgba(0, 0, 0, 0.6);
}

.nav{
    display: flex;
    padding-left: 100px;
    justify-content: space-between;
    align-items:first baseline;
    gap: 15px;
}