.form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.274);
  border-radius: 5px;
  margin-bottom: 30px;
}
  
  .label {
      display: block;
      margin-bottom: 15px;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: rgb(254, 255, 255);
  }
  
  .input {
      width: 97%;
      height: 40px;
      padding-left: 14px;
      border-radius: 5px;
      border: 1px solid rgba(255, 255, 255, 0.603);
      color: rgb(254, 255, 255);
      background-color: transparent;
      outline: transparent;
      /* margin-bottom: 5px; */
  }
  
  .input:focus {
      border-color: rgba(250, 246, 26, 0.993);
  }
  
  .addBtn {
      display: block;
      margin-top: 15px;
      margin-right: auto;
      margin-left: auto;
      align-self: center;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      text-align: center;
      border-radius: 4px;
      color: rgb(254, 255, 255); 
      border: none;
      padding:6px 10px;
      height: 40px;
      min-width: 160px;
      background-color: rgba(250, 198, 26, 0.63);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.274);
      cursor: pointer;
  }
  
  .addBtn:hover {
      background-color:  rgba(250, 198, 26, 0.781);
  }

  .modalText{
    margin-bottom: 25px;;
    text-align: center;
    font-size: 22px;
    color: rgba(198, 200, 202, 0.87);
  }

  .descModal{
    margin-bottom: 8px;
  }