.container{
    display: flex;
    gap: 40px;
    padding-right: 100px;

}

.textWraper {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    gap: 7px;
}

.logOutBtn {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
  padding: 16px;
  /* margin-left: 50px; */
  font-weight: 550;
  font-size: 20px;
  color: white;
  background-color: rgba(216, 171, 24, 0.63);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.274);
  transition: all, 250ms;
  cursor: pointer;

}

.logOutBtn:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

h3, p {
    margin: 0;   padding: 0; 
}

.title {
    font-size: 18px;
    font-weight: 200px;
    color:  rgba(0, 0, 0, 0.5);
}

.mail {
    font-size: 15px;
    font-weight: 200px;
    color:  rgba(0, 0, 0, 0.5);
}